body {
    width: 100%;
    max-width: 1440px;
    min-width: 1440px;
    /* display: flex; */
    justify-content: center;
    margin: 0;
    align-items: center;
    height: 100vh;
    place-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
    height: 754px;
}

.navbar img{
    width: 109px;
    height: 53px;
    top: 27px;
    left: 135px;
    gap: 0px;
    opacity: 0px;    
}

.navbar .nav-link {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: left;
}

.navbar .btn {
    border-color: #ED017F;
    width: Hug (108px)px;
    height: Hug (36px)px;
    top: 35px;
    left: 1196px;
    padding: 8px 20px 8px 20px;
    gap: 10px;
    border-radius: 4px;
    opacity: 0px;

}

.nav-item-search {
    margin-right: 20px;
    margin-top: 3px;
}

.nav-item svg {
    color: #ED017F;
    width: 24px;
    height: 24px;
}

.nav-item button {
    background-color: #ED017F;
}

.hero .title{
    width: 553px;
    height: 136px;
    margin-top: 170px;
    margin-left: 135px;
    gap: 0px;
    opacity: 0px;
}

.hero .title p{
    font-size: 63px;
    font-weight: 900;
    line-height: 68px;
    text-align: left;

}

.hero .paragraph {
    width: 350px;
    height: 44px;
    margin-left : 135px;
    margin-top: 20px;
    gap: 0px;
    opacity: 0px;

}

.hero .paragraph p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    

}

.apply-online {
    margin-right: 0;
    margin-left: auto;
}

.hero .row .btn-primary {
    background-color: #ED017F;
    border: #ED017F;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: center;
    width: 157px;
    height: 46px;
    gap: 0px;
    opacity: 0px;
    
}

.hero .row .btn-outline-primary {
    color: #ED017F;
    /* background-color: white; */
    border-color: #ED017F; 
    width: 188px;
    height: 46px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: center;

}

.hero .row .btn-outline-primary:hover {
    background-color: white;
}

.hero .row-button {
    margin-top: 20px;
    margin-left: 121px;
}

.hero .contact-list {
    width: 265px;
    height: 36px;
    margin-top: 180px;
    margin-left: 135px;
    gap: 0px;
    justify: space-between;
    opacity: 0px;
}

.hero .contact-list .telephone-icon svg {
    width: 24px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    color: #ED017F;
}

.hero .contact-list .phone-number {
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 1px;
    text-align: center;
    
}

.hero .contact-list .icon a {
    width: 24px;
    height: 24px;
}

.fa-facebook {
    color: #4b7fcd;
}

.fa-youtube {
    color: #ff0000;
}

.fa-linkedin {
    color: #4a71fb;
}

.fa-instagram {
    color: #ed017f;
}

.hero .family-picture img {
    width: 850px;
    /* width: 1500px; */
    margin-left: auto;
    margin-right: 0;
    margin-top: 130px;
    opacity: 0px;
}

.hero .family {
    background-color: #FFEAF5;
    margin-left: auto;
    margin-right: 0;
    height: 650px;
    width: 750px;
    margin-top: -80px;
    margin-bottom: auto;
}

.features .title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    text-align: center;
    margin-top: 40px;
}

.features .subtitle {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #999999  ;
}

.features .card {
    border: 0;
    width: 180px;
    margin-top: 40px;
}

.features .card img {
    width: 37px;
    height: 37px;
}

.features .card .card-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
}

.features .card .card-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #999999  ;

}

.features .card img {
    margin-bottom: 20px;
}

.bussiness-partner {
    height: 450px;
    background-color: #FCE0EF33;
}

.bussiness-partner .title  {
    /* font-family: Metropolis; */
    font-size: 23px;
    font-weight: 400;
    line-height: 23px;
    /* letter-spacing: 2.0999999046325684px; */
    text-align: left;
}

.bussiness-partner .logo img{
    width: 185.71px;
    height: 110.36px;
    padding: 0px 0px 0.08px 0px;
    gap: 0px;
    opacity: 0px;
    margin-top: 100px;
}

.about {
    height: 610px;
}

.about img {
    height: 610px;
    width: 618px;
}

.about .card {
    width: 450px;
    height: 290px;
    border: 0;
    margin-left: 120px;
    margin-top: 100px;
}

.about .card .card-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
}

.about .card .card-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
}

.about .card .card-link {
    font-size: 19.33px;
    font-weight: 400;
    line-height: 26.58px;
    text-align: left;
    color: #ED017F;
    text-decoration: none;
}

.services {
    height: 842px;
    background-color: #FEF9FC;
}

.services .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    text-align: center;
}

.services .subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #999999;
}

.services .card {
    width: 254px;
    height: 457px;
    gap: 22px;
    border-radius: 9px 0px 0px 0px;
    opacity: 0px;

}